.experience {
	margin: 2rem 1rem;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	max-width: 960px;
}

.experience--heading {
	font-size: 2.5em;
	text-align: center;
}

.experience--div {
	display: flex;
	flex-direction: column-reverse;
	transition: .5s ease-in-out;
	transform: translateY(-10%);
}

.experiences--div {
	display: flex;
	flex-direction: column;
	gap: 3em;
	max-width: 90%;
}

.experience_details {
	margin-top: 1.5em;
	opacity: 1;
}

.show-experience {
	opacity: 1 !important;
	transform: translateY(0%) !important;
}

.experience_header {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.experience-logo {
	margin: 0 auto;
	border-radius: 10px;
}

.duration {
	font-size: 0.75em;
}

.experience_work {
	margin: 1.5em;
	font-size: 0.85em;
	line-height: 1.5em;
}

.experience_work ul li {
	margin-bottom: 0.5em;
}

@media (min-width: 678px) {
	.experience_header {
		flex-direction: column;
	}

	.experiences--div {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}

	.experience--div {
		flex-direction: row-reverse;
		gap: 2em;
		transition: .5s ease-in-out;
		transform: translateY(-30%);
	}

	.experience-logo {
		max-width: 40%;
	}

	.experience_work {
		font-size: 0.75em;
		line-height: 1.5em;
	}

	.duration {
		padding-top: 0.25em;
	}
}

@media (min-width: 960px) {
	.experience_header {
		flex-direction: row;
		font-size: 1em;
		justify-content: space-between;
	}

	.experiences--div {
		gap: 3em;
	}
	.experience--div {
		gap: 6em;
	}

	.experience-logo {
		max-width: 35%;
	}

	.duration {
		padding-top: 0.25em;
	}
}

@media (min-width: 1600px) {
	.experience-logo {
		max-width: 40%;
	}
}