@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	display: inline-block;
}

.name {
	font-family: 'Zeyada', cursive;
	font-weight: bolder;
	font-size: 1.5em;
	margin: 0.75em 1em;
	cursor: pointer;
}

.buttons {
	display: none;
}

a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.20);
}

.buttons button:hover {
	background-color: darkcyan;
	transition-duration: 0.2s;
}

.buttons-sidebar {
	display: flex;
	flex-direction: column;
}

.buttons-sidebar button {
	margin: 0.7rem auto;
	width: 70%;
	padding: 1.25rem;
	font-size: 1rem;
}

.list {
	height: 2.5em;
	width: 1.5em;
	margin: 1em;
}

.sidebar-hamburger {
	position: fixed;
	right: 0;
	display: inline-block;
}

.sections {
	height: 105vh;
	background-color: green;
}


.footer {
	height: 105vh;
	background-color: aquamarine;
}

@media (min-width: 775px) {
	.buttons {
		display: block;
	}

	button {
		margin-right: 1em;
		padding: 0.5em;
		border: none;
		background-color: white;
	}

	.sidebar-hamburger {
		display: none;
	}

	.header {
		position: sticky;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: white;
	}
}