.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

.name {
	font-family: 'Zeyada', cursive;
	font-weight: bolder;
	font-size: 1.5em;
	margin: 0.75rem 0rem 0.75rem 1.25rem;
	cursor: pointer;
}

.hamburger-icon {
	margin: 1em;
}

.buttons {
	display: none;
}

.buttons-sidebar {
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	display: block;
	background-color: #212766;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	color: white;
}

.button-anchor {
	display: flex;
	align-items: center;
	user-select: none;
	width: 85%;
	margin: 0.5rem auto;
	padding: 1rem;
	gap: 1.25em;
	font-family: 'Inter', sans-serif;
	background: #212766;
	color: #ffffffc9;
	border: none;
	text-decoration: none;
}

.button-anchor:hover {
	background-color: lightseagreen;
	transition-duration: 0.2s;
	border-radius: 5px;
	transition-delay: 25ms;
}

.ham-icons {
	width: 1.5em;
	height: 1.5em;
}

.header-button-anchor {
	background: white;
	color: black;
	user-select: none;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	padding: .5rem;
}

.header-button-anchor:hover {
	background-color: lightseagreen;
	transition-duration: 0.2s;
	border-radius: 5px;
	transition-delay: 25ms;
	border-bottom: 2px solid black;
}

.bug-arrow-class {
	margin: 1.5em;
}

.list {
	height: 2.5em;
	width: 1.5em;
}

@media (min-width: 478px) {}

@media (min-width: 678px) {
	html {
		font-size: 18px;
	}

	.name {
		margin: 1rem 0rem 0.75rem 0.75rem;
	}

	.buttons {
		display: flex;
		gap: .25rem;
		margin-right: .5rem;
	}

	.hamburger-icon {
		display: none;
	}

	.home {
		justify-content: space-evenly;
		gap: 1em;
	}

	.my-intro {
		align-self: center;
	}

	.section-desc--div {
		align-items: center;
		max-width: 100%;
	}
}

@media (min-width: 960px) {
	.name {
		margin: 1rem 0rem 0.75rem 2rem;
	}

	.buttons {
		gap: 1rem;
		margin-right: 1.5rem;
	}
}