.home {
	margin: 2rem 1rem;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	max-width: 960px;
}

.my-intro {
	align-self: flex-start;
	font-family: 'Inter', 'sans-serif';
}

.intro-name {
	font-size: 2.30em;
}

.brief-me {
	color: lightgrey;
	font-size: 0.8em;
	margin-top: 1em;
	line-height: 1.25rem;
}

.CV-anchor {
	display: block;
	border: none;
	background-color: #ffffffeb;
	padding: 0.75rem;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 2rem;
	width: 8.5em;
	cursor: pointer;
}

.CV-effects a:hover {
	background-color: #000000de;
	color: #ffffffd1;
	transition-duration: 0.1s;
	transition-delay: 25ms;
}

.CV-effects a:active {
	box-shadow: inset 1px 1px 5px 0px #ffffff;
}

.my-image-div {
	transform: translateY(-10%);
	opacity: 0;
	transition: .5s ease-in-out;
}

.show {
	opacity: 1 !important;
	transform: translateY(0%) !important;
}

.my-image {
	border-radius: 300px;
}

@media (min-width: 478px) {
	.my-image-div {
		max-width: 80%;
	}

	.brief-me {
		width: 80%;
	}
}

@media (min-width: 678px) {
	.home {
		flex-direction: row;
		justify-content: space-between;
		gap: 3em;
	}

	.brief-me {
		width: 100%;
	}

	.my-intro {
		align-self: center;
	}

	.my-image-div {
		max-width: 50%;
	}
}