.projects {
	margin: 2rem 1rem;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	max-width: 960px;
}

.projects--heading {
	font-size: 2.5em;
	text-align: center;
}

.projects--div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5em;
	max-width: 90%;
}

.project {
	display: flex;
	align-items: center;
	gap: 1em;
	background: lightgrey;
	padding: 1.5em;
	border-radius: 10px;
	color: black;

	opacity: 0;
	transition: .5s ease-in-out;
	transform: translateX(-100%)
}

.show-projects {
	opacity: 1 !important;
	transform: translateX(0%) !important;
}

.right {
	transform: translateX(-100%);
}

.project-img {
	display: none;
}

.project-desc {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	line-height: 1.25em;
}

.project-desc--start {
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 0.25em;
}


.project-heading {
	font-size: 1.25em;
	line-height: 1.15em;
}

.project-para {
	margin-top: 0.75em;
}

.project-links {
	display: flex;
	justify-content: space-evenly;
	margin: 0.5em 0em;
	font-size: 1.5em;
}

.project-link--github {
	color: black;
}

.project-link--anchor {
	color: black;
}

.project_techs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;
	text-align: center;
}

.tech {
	background-color: #1a1a1a;
	padding: 0.25em;
	color: white;
	border-radius: 5px;
}

@media (min-width: 356px) {
	.project-para {
		max-width: 100%;
	}

	.project-desc--start {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
}

@media (min-width: 478px) {
	.project {
		padding: 1em;
	}

	.project-img {
		display: inline-block;
		width: 60%;
		padding: 0.5em;
		border-radius: 10px;
		background: lightgrey;
	}

	.project-desc--start {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

@media (min-width: 678px) {
	.projects--div {
		display: grid;
		gap: 1.25em;
		grid-template-columns: repeat(2, 1fr)
	}

	.project-desc--start {
		flex-direction: column;
		align-items: flex-start;
	}


	.project {
		transition: 1s ease-in-out;
	}

	.right {
		transform: translateX(100%);
	}
}